<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ManagerConnectionString" connectionString="Host=localhost;Username=manager;Password=111;Database=course"/>
        <add name="UserConnectionString" connectionString="Host=localhost;Username=myuser;Password=222;Database=course"/>
        <add name="MechanicConnectionString" connectionString="Host=localhost;Username=mechanic;Password=333;Database=course"/>
        <add name="AdminConnectionString" connectionString="Host=localhost;Username=postgres;Password=222120111m;Database=course"/>
    </connectionStrings>
</configuration>